#connect_page
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    
    input
    {
        width: 200px;
        height: 30px;
    }
    button
    {
        margin-top: 20px;
        width: 200px;
        height: 30px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: #FFFFFF;
        background: transparent;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        border: 2px solid #FFFFFF;
    }
}
#name_page
{
    label
    {
        color: white;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 20px;
        font-weight: 700;
    }
    input
    {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 16px;
        width: 100px;
        height: 40px;
        margin-bottom: 50px;
        border: 7px ridge rgb(205,205,205);
        background-color: black;
        color: white;
    }
    button
    {
        width: 100px;
        height: 40px;
        font-size: 16px;
        color: white;
        background : none;
    }
}